@import '../../global.scss';

.portfolio{
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-size: 2.1em;
    color: $mainColor;

    @include mobile {
      font-size: 1.6em;
    }
  }

  ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; 
      margin: 0;
    }

  }
  .container{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    @include mobile {
      width: 100%; 
      align-items: flex-start;
    }
    p{
      font-size: 1.05em ;
      //font-size: 16px;
    }
    i{
      color: black;
      font-weight: bold;
    }
    .webAppT{
      font-weight: bold;
      margin-bottom: 0px;
    }
    .webAppP{
      padding-left: 5em;
      margin-top: 0px ;
    }

    .workExpierence{
      margin: 0px;
      a{
        color: inherit;
      }
    }
    .ubication{
      margin-top: 5%;
      margin-left: -5px;
      a{
        color: inherit;
        text-decoration: none;
      }
      svg{
        margin-bottom: -5px;
        color: $mainColor;
      }
      span{
        margin-left: -3px;
      }
    }
    .logoConteiner{
      position: relative;
      display: flex;
      justify-content: space-around;
      height: 10%;
      .logo{
        height: 100%;
        img{
          height:100%;
        }
      }
      :nth-child(2){
        height: 80%;
      }
      :nth-child(3){
        height: 120%;
      }
      :nth-child(4){
        height: 110%;
      }
      :nth-child(4){
        height: 115%;
      }
      :nth-child(5){
        height: 120%;
      }
    }
  }
}