@import '../../../global.scss';
.portfolioContent{
  width: 80%;
  height: 90%;
  border: solid black 1px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  
  @include mobile {
    margin-top: 8%;
    height: 80%;
  }

  .text{
    width: 90%;
    height: 90%;
  }
}