$mainColor: #0C1921;
$developer: #F61A27;
$button: #F61A27;
$background: #0C1921;
//$background: crimson;
//$background: #0C1921;
$circle: #F7BD3E;
$circle: rgb(144,238,144);
$width: 750px;

  // main color:#15023a*** redBull:#0C1921 
  // background: 
  // letters: #F61A27
  // circle: rgb(144,238,144); redBull#E8C563

@mixin mobile {
@media (max-width: #{$width}) {
  @content
}
}